.menu-nav {
	background: #000;
	width: 100%;
	margin: auto;
}

.image_accueil{
	width: 750px;
}

.nav_btn {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	justify-content: space-around;
	margin: 10px;
}

.a_nav {
	color: white;
	font-size: 50px;
	text-decoration: none;
	background-color: #77285B;
}

.img_portrait{
	float: left;
	margin-right: 20px;
}

.img_sponso{
	margin-left: 10%;
	width: 350px;
}

.img_facebook, .img_insta {
	margin-left: 10%;
	width: 100px;
	border-radius: 8px;
}