body {
	background-color:#777;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 700px;

}
header {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	height: 550px;
	text-align: center;
}
header img{
	width: 750px;
}

nav.menu-nav {
	background: #000;
	width: 100%;
	margin: auto;
}
nav.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	justify-content: space-around;
	margin: 10px;
}
nav.menu-nav ul li.btn a{
	color: white;
	font-size: 50px;
	text-decoration: none;
	background-color: #77285B;
}
nav.menu-nav ul li.btn:hover a{
	opacity: 0.4
	transition: 0.3s all;
	padding: 10px; 
}
h4{
	margin-left: 10%;
	font-size: xx-large;
	text-decoration: underline;
}
p img.portrait{
	float: left;
	margin-right: 20px;
}
p{
	width: 80%
	background-color: #6C6C6C;
	width: 80%;
	text-align: justify;
	margin-left: 10%;
}
footer{
	background-color:#282D2D;
}
footer div.sponso img{
	margin-left: 10%;
	width: 350px;
	
}
footer div.reseau img{
	margin-left: 10%;
	width: 100px;
	border-radius: 8px;
}